html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray: #A4A4A4;
	--gray-dark: #505359;
	--white: white;
	--primary: #5B40C2;
	--primary-hover: #6344DF;
	--red: #FC836D;
	--red-light: #FEA291;
	--green: #007B48;
	--green-light: #C8F8E4;
	--font-family: 'Noto Sans KR', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.d-none {
	display: none;
}

.sr-only {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

.mx-4 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.me-2 {
	margin-right: 10px;
}
