html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #f5f6f8;

	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3b434e;
	--gray-light: #ebebeb;
	--gray: #a4a4a4;
	--gray-dark: #505359;
	--white: white;
	--primary: #5b40c2;
	--primary-hover: #6344df;
	--red: #fc836d;
	--red-light: #fea291;
	--green: #007b48;
	--green-light: #c8f8e4;
	--font-family: 'Noto Sans KR', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.d-none {
	display: none;
}

.sr-only {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}
